[2016-10-24 05:19] DearZack opened #1 "It can automatic monitor incoming calls?"

[2016-10-24 08:54] chenxinxun opened #2 "Some device just can record one side！"
Some device just can record one side！pls fixed！

[2016-10-24 10:17] aykuttasil commented on #2
Which devices record one side ?

[2017-01-20 05:16] faizan321 opened #3 "Failed to resolve gradle dependency"
Error:(33, 13) Failed to resolve: com.aykuttasil:callrecord:1.2.1

[2017-03-08 09:44] luongvo commented on #1
Yes, of course!

[2017-03-09 09:51] #3 closed

[2017-03-12 04:18] GlennPallad commented on #1
Yes, I've tested it on MIUI, works pretty good, very succinct app.

[2017-03-30 04:40] Rolet commented on #2
Xiaomi Redmi Note 3

[2017-04-03 18:15] timetraveller432 opened #6 "Failed to resolve Gradle Dependency"
I haven't been able to include the library in my project. I get:

[2017-04-03 21:03] aykuttasil commented on #6
Please check the configuration of the app and project gradle files.

[2017-04-03 22:06] timetraveller432 commented on #6
Hi Thanks for replying, but I did check that. I infact created a **brand new Android project**, everything default and simply added the dependency in **build.gradle** file. Here it is:
[code]
Check out the last line. But I still have the error !!
![gradleerror](https://cloud.githubusercontent.com/assets/25375821/24633742/b1fc66ca-18e7-11e7-9e70-76796b2e7a61.png)

[2017-04-04 17:20] aykuttasil commented on #6
Ok.
Please  change **buildToolsVersion "25.0.0"** to ** buildToolsVersion "25.0.2"**.

[2017-04-06 17:30] timetraveller432 commented on #6
Hi @aykuttasil,

I tried what you said but for some reason, it isn't still working !

[2017-04-11 06:38] NarenderNagpal opened #7 "Some Device Record on side and some device give error"
In Samsung Grand Max (Model number SM-G7202, Version - 5.1.1) record only one side.

and in Redmi Note 3 getting an error : java.lang.RuntimeException: Error receiving broadcast Intent { act=android.intent.action.PHONE_STATE flg=0x10 (has extras) } in com.aykuttasil.callrecord.receiver.CallRecordReceiver@11d96837...

Please give the solution what should I do?

[2017-04-14 08:10] dj1372 commented on #6
@aykuttasil,
hi.i have the same problme. I haven't been able to include the library in my project.

[2017-04-15 20:25] aykuttasil commented on #7
Please whether check have
**<uses-permission android:name="android.permission.READ_PHONE_STATE" />** in AndroidManifest.xml.

[2017-04-17 08:25] NarenderNagpal commented on #7
Thanks for your response.
Already added this permission. But didn't solve the problem.

[2017-05-08 14:00] AntoniBertel opened #8 "Requires android.permission.READ_PRIVILEGED_PHONE_STATE"
Hi guys,

Any luck to avoid 'requires android.permission.READ_PRIVILEGED_PHONE_STATE' error?
I tried to build app with API v 22 (to not request runntime permissions), but got the same error on 24/25 version of emulator.

[2017-05-18 09:40] anandinmaddy commented on #6
Project support has been dropped i think. No longer able to use com.aykuttasil:callrecord:1.2.3

[2017-05-18 09:52] aykuttasil commented on #6
@anandinmaddy No. Project support is continue. I tried to add it to gradle file a minute ago and i success. I did not receive any errors.

Please try updating Android Studio.

[2017-05-18 09:55] anandinmaddy commented on #6
Am using Android Studio 3.0 Canary 1 @aykuttasil

[2017-05-18 10:01] aykuttasil commented on #6
Ok.
Please update the gradle file as follows;

[code]

[2017-05-18 10:04] anandinmaddy commented on #6
@aykuttasil
![screenshot from 2017-05-18 15-34-02](https://cloud.githubusercontent.com/assets/8080216/26197334/754f776a-3bdf-11e7-8a8e-6f33d188055a.png)  still error

[2017-05-18 10:05] aykuttasil commented on #6
[code]

[2017-05-18 10:34] anandinmaddy commented on #6
no luck @aykuttasil

[2017-05-31 08:32] zgliuwen opened #9 "android 6.0 oppo r9s does"

[2017-06-14 07:27] anandinmaddy commented on #9
@zgliuwen please update the screen or elaborate the issue

[2017-06-14 07:28] anandinmaddy commented on #7
@NarenderNagpal check this line in your code.             mediaRecorder.setAudioSource(MediaRecorder.AudioSource.MIC)

[2017-06-14 07:29] anandinmaddy commented on #2
@Rolet issue is due to some devices no longer supporting VOICE_CALL api any more. So its recording only MIC part. anyone please update if you guys found any other

[2017-06-20 06:43] zgliuwen commented on #9
Hi Anandinmaddy,Thank you for Reply. I tried to use Lame, it does not work.just record my voice.if you open the speaker,that's ok,but voice volume is small.
above question is about voice_call and mic，I think OPPO R9s don't supoort VOICE_CALL.

[2017-06-20 06:58] anandinmaddy commented on #9
voice_call won't be supported anymore for third partys. Read this https://developer.android.com/reference/android/media/MediaRecorder.AudioSource.html

[2017-06-21 07:08] zgliuwen commented on #9
this?"Capturing from VOICE_CALL source requires the CAPTURE_AUDIO_OUTPUT permission."

As far as I know, ACR and Pinocchio can call recording, want to know why?

[2017-06-30 09:41] khatibkhalid opened #10 "I can't find where the audio file is saved therefore i can't know if it's working or not, help please"
I'm running the sample on my device, i click start recording, i make calls and i click stop recording, i can't find any audio file which contains the recorded call, help me please

[2017-07-09 09:10] UnnikrishnanBhargavakurup commented on #10
Hi same issue here where i can find the recorded files?

[2017-07-26 02:04] alishari opened #11 "RuntimeException: Error receiving broadcast Intent"
This problem happened in a Galaxy A3(2017) with 6.0.1 android:

Exception java.lang.RuntimeException: Error receiving broadcast Intent { act=android.intent.action.PHONE_STATE flg=0x10 bqHint=4 VirtualScreenParam=Params{mDisplayId=-1, null, mFlags=0x00000000)} (has extras) } in com.aykuttasil.callrecord.b.a@ed6a8cf
android.app.LoadedApk$ReceiverDispatcher$Args.run (LoadedApk.java:1007)
android.os.H

[2017-08-09 16:20] java-war opened #12 "how can i know the record service or receiver is running"
hi, how can i know the record service or receiver is running, if not running i want to show a start button on activity.

[2017-08-16 08:20] Babar-Bashir opened #13 "Incoming vioce is not captured on samsung S8."
Issue with samsug galaxy s8 edge, Incoming vioce is not captured on samsung S8. Only external voice recorded.

[2017-08-20 07:59] bailandi opened #14 "when use the demo, i got an IOException"
log show that when call  ` recorder.prepare();`   , permission deny!
but i have added  write and  read  permission ,    and  the file  existed  while it's size  is 0 kb
the phone is MeiZu MX5  , and the level is 5.1 , how can I deal with it?

[2017-08-20 10:11] bailandi commented on #14
i may find the reason,  the  security  guard  makes permissions disabled by default.

[2017-08-20 10:11] #14 closed

[2017-09-04 20:31] aykuttasil commented on #12
Hi,
CallRecorder library have not this. But you can check this link: https://stackoverflow.com/a/5921190/3448461

[2017-09-13 00:40] shyamal890 opened #15 "Cordova version of Call recorder"
Its it possible to port this library to Cordova?

[2017-09-22 10:56] sergeychilingaryan commented on #9
@zgliuwen they are using some jni tricks to do that.
Also they selling their "hack" with high price :)

P.S. the hack are not working with all phones.

[2017-09-22 11:17] anandinmaddy commented on #9
It wont work on all devices. I tried in Lenova k6 power,none of the call
recorder is working .

On Fri, Sep 22, 2017 at 4:26 PM, Sergey Chilingaryan <
notifications@github.com> wrote:

[2017-09-22 12:06] sergeychilingaryan commented on #9
The app will work only when you make it like system's app, so you need rooted phone.
But this is not a solution. I have this issue about a year, and cannot find a solution, even in google's bug tracker this issue marked as "WONT SOLVE" :(

[2017-11-13 06:11] zgliuwen commented on #9
So how hack,who knows?

[2017-11-30 18:34] sohamnavadiya commented on #10
I also have same question.

[2017-12-06 04:57] sanjeewa88 commented on #10
Same here.. please post a solution

[2017-12-21 09:16] UdeRox commented on #13
have found a solution to this?

[2018-01-02 10:54] BhargavVGhodasara commented on #11
Hey, @alishari

 I have also same issue on Redmi 4(6.0.1).

`
01-02 16:17:49.115 15825-15825/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: recorder.com.callrecord, PID: 15825
                                                   java.lang.RuntimeException: Error receiving broadcast Intent { act=android.intent.action.PHONE_STATE flg=0x10 (has ext

[2018-01-03 09:50] Babar-Bashir commented on #13
Not yet @UdeRox

[2018-01-06 07:51] razilsh commented on #10
The files are stored on the device's external storage directory. You can verify this by running `Log.i(TAG, "extStorageDir " +  Environment.getExternalStorageDirectory().getPath());`

[2018-01-17 20:46] pzienowicz commented on #9
I am also interested of this hack.
Does anyone know how to record both sides? Any code?

Is it sense to use this library if not recording the receiver?

[2018-01-29 17:51] levirgon commented on #10
same issue here, no files found where log shows

[2018-01-29 17:54] levirgon commented on #1
is the sample app working? where do i find the saved file? do i have to click the record button during a call?

[2018-01-31 11:15] razilsh commented on #10
@levirgon That log will show you the path to your external storage directory. It will NOT list files. If there are any recordings then they'll be located inside `CallRecorderTest` assuming you haven't changed the named of the record directory. So let's say your external storage dir points to something like  `/storage/emulated/0` then the files (again, if there are any) will be in `/storage/emulate

[2018-01-31 11:53] levirgon commented on #10
Hello Sir,
Thank you for your time to sort out the issue, I saw that solution on
github and tried it, but there is no folder created by CallRecorderTest in
the directory.

On 31-Jan-2018 5:15 PM, "razilsh" <notifications@github.com> wrote:

[2018-01-31 12:21] razilsh commented on #10
What device and Android version are you running? Can you post the result of `Log.i(TAG, "extStorageDir " + Environment.getExternalStorageDirectory().getPath());` ?

[2018-02-08 12:14] vishambar555 commented on #2
I am also having this problem, I can hear only my voice not incoming voice. This issue sucked whole my day. @aykuttasil Plz help

[2018-02-08 12:29] anandinmaddy commented on #2
@vishambar555  Which device you are facing the issue ?

[2018-02-08 12:39] vishambar555 commented on #2
Moto g5 Splus

[2018-02-13 12:37] vondel opened #16 "Error while executing: am start -n "com.aykuttasil.callrecorder"
02/13 13:31:26: Launching app
$ adb install-multiple -r -t C:\Users\voeger\AndroidStudioProjects\CallRecorder-master\app\build\intermediates\split-apk\debug\slices\slice_0.apk C:\Users\voeger\AndroidStudioProjects\CallRecorder-master\app\build\intermediates\split-apk\debug\slices\slice_2.apk C:\Users\voeger\AndroidStudioProjects\CallRecorder-master\app\build\intermediates\split-apk\debug\slices\sl

[2018-02-14 09:47] vondel commented on #10
Good Morning! Yesterday I have installed the CallRecorder with Android Studio 3.0. The build was OK but I cant,t find the files on may phone. Please can anybody help me?

[2018-02-15 13:01] aykuttasil commented on #16
Hi @vondel ,
You must click Start Record button after launch the sample project. Then, you can see the file in CallRecorderTest folder. If you want to change folder name, you must call CallRecordObject.changeRecordDirName("DirName").

[2018-02-15 13:03] #12 closed

[2018-02-15 13:26] vondel commented on #16
Hello Aykuttasil! The applilcation is running but the app doens't create a folder. So i tryed to change the path. But I cant find the syntax in you proramm wherei can change it.

[2018-02-15 13:29] aykuttasil commented on #16
Can you share the code you're running? @vondel

[2018-02-15 13:32] vondel commented on #16
I download your last Version and make an import in Studio 3.0. Compile on Samson Galaxy S5 Neo with
Andriod 6.0.1

[2018-02-19 16:45] kash8080 commented on #10
hey guys .. when you call "callRecord.startCallReceiver();" it doesn't start recording audio immediately .. rather it just starts a listener to listen when call is started/ended ... so after calling the above method try to call someone and see if you get the recorded file in the folder ...

[2018-02-19 16:47] levirgon commented on #10
@kash8080 I did try that, but no luck :( .

[2018-02-19 16:51] kash8080 commented on #10
if you are running >api  24  .. make sure you have runtime permissions ..

[2018-02-20 05:59] vondel commented on #10
Good Morning Guys! I think the reason for my problem is that my phone has api24

[2018-02-20 06:01] levirgon commented on #10
mine is api 23 but i will still try adding the runtime permissions. and let you know

[2018-02-20 06:22] vondel commented on #10
That would be fine....

[2018-02-20 06:24] levirgon commented on #10
@vondel  which permissions do i need ?

[2018-02-20 06:28] vondel commented on #10
for api23 Android6.0.1

[2018-03-17 21:02] toofan0909 opened #17 "oreo 8, have you checked if this is working on oreo ?"
Hello,

could u please confirm that it is not working on google oreo 8.

[2018-03-19 07:18] SasiKiranK opened #18 "Hidden Mode"
Hi

Is it possible to run this app in hidden mode? and how do saved recordings sent to my email?

Thanks

[2018-03-19 14:42] #6 closed

[2018-03-19 18:23] anandinmaddy commented on #17
@toofan0909  its working fine in oreo. tested in oneplus 5T

[2018-03-23 10:33] mohit-sharma-87 commented on #11
Any update on this issue ?

[2018-03-28 19:46] shashank-shinde commented on #13
Use `setAudioSource(MediaRecorder.AudioSource.VOICE_CALL)` instead `setAudioSource(MediaRecorder.AudioSource.VOICE_COMMUNICATION)`

[2018-03-28 19:47] shashank-shinde commented on #1
Use `setAudioSource(MediaRecorder.AudioSource.VOICE_CALL)` instead `setAudioSource(MediaRecorder.AudioSource.VOICE_COMMUNICATION)`

[2018-03-29 05:44] Babar-Bashir commented on #13
I already checked but no success. :(

[2018-03-29 11:05] developer-- commented on #17
not works for me **note8 ** 8.0

[2018-04-01 07:40] shashank-shinde opened #19 "Recording stops after closing the app"

[2018-04-03 17:19] anonym24 opened #20 "I would like to stream call to the server (though tcp, e.g. to windows )"
I would like to stream call to the server (though tcp, e.g. to windows )

don't save as file but stream it to another device

[2018-04-03 19:14] anonym24 opened #21 "DOESN'T WORK: doesn't respond to buttons... (start/stop recording)"

[2018-04-03 20:31] anonym24 opened #22 "Failed to resolve: com.github.aykuttasil:CallRecorder:1.2.8"
Failed to resolve: com.github.aykuttasil:CallRecorder:1.2.8

`implementation 'com.github.aykuttasil:CallRecorder:1.2.8'`

[code]

[2018-04-03 20:49] anonym24 commented on #21
it doesn't save any audio, I even changed to mic temporary, but still can't find nothing on my sdcard:

[code]

[2018-04-03 20:59] anonym24 commented on #21
I added all permissions:

` requestPermissions(new String[]{WRITE_EXTERNAL_STORAGE, RECORD_AUDIO, PROCESS_OUTGOING_CALLS, READ_PHONE_STATE}, 21);`

[code]

and still nothing

[2018-04-03 22:59] aykuttasil commented on #22
implementation 'com.github.aykuttasil:CallRecorder:1.2.9' @anonym24

[2018-04-03 23:04] aykuttasil commented on #19
This is not the recorder app. This is just the framework for call record. If you would you like to don't stop record when app closed, you can edit your code accordingly. @shashank-shinde

[2018-04-04 16:45] shashank-shinde commented on #19
Okay I'll do that. Thanks :)

[2018-04-04 16:45] #19 closed

[2018-04-14 15:14] tabs commented on #17
not working normal in android O

[2018-04-14 15:15] tabs commented on #17
may by receiver bug

[2018-04-15 03:33] tabs commented on #17
OK  it works! you shuold request permisstions like this:
`  ActivityCompat.requestPermissions(this, new String[]{Manifest.permission.READ_EXTERNAL_STORAGE,
                Manifest.permission.PROCESS_OUTGOING_CALLS,
                Manifest.permission.READ_PHONE_STATE
        }, 321);`

[2018-04-20 09:53] georgerockil opened #23 "Not working"
In redmi 4 this is running properly. but in redmi 4a, the recording file is created and saved. but when play the file we could not find the audio, only a blnk which lasts for 3 seconds would be created

[2018-04-21 15:25] TikTak123 opened #24 "How to run in Service?"
How to run in Service?
There is no such method buildService?

callRecord = new CallRecord.Builder(this)
   .setRecordFileName("RecordFileName")
   .setRecordDirName("RecordDirName")
   .setRecordDirPath(Environment.getExternalStorageDirectory().getPath()) // optional & default value
   .setAudioEncoder(MediaRecorder.AudioEncoder.AMR_NB) // optional & default value
   .setOutputFormat(MediaRecorder

[2018-04-23 10:29] 5en opened #25 "i can run this project ,but low voice"
i can get this vidio,but  the voice is too low to hear clearlyfully.
 i try to set OutputFormat ,but it failed.
some one knows how to turn up the voice?

[2018-04-27 07:45] hishamtbox opened #26 "Records only from outgoing voice not the incoming"
I tried to record voice call, it works fine on some devices. But on some devices it only records the outgoing voice i.e records voice from mic. But the incoming voice i.e the voice of receiver is not recording. Any idea what might be the issue?

My device specs
Samsung Galaxy C5
OS 7.0 (nougat)

Any help will be much appreciated. Thanks

[2018-05-02 11:38] khan1hamdan opened #27 "saved file not play"
After save the file it show 0kb size and not play i checked in multiple device.
How can i solve this problem

[2018-05-28 15:43] mirzazulfan opened #29 "Propose Logo"
Hi @aykuttasil . I'm graphic disigner. I would like to know if you are interested that I make a logo for your project? If you allowed me, i"ll make logo for your project.

[2018-06-24 11:21] AndroidDeveloperLB commented on #27
Try various Audio Sources.
Call recording is quite a mess on Android. Might not work on various devices, and work on others.
And each has its own configuration to try.
I wonder though what else can be configured, because I've noticed other apps can handle cases that changing the AudioSource alone can't handle, so I've written about this here:
https://stackoverflow.com/questions/50970915/how-do-som

[2018-07-18 07:18] tvhieuit commented on #16
Hello I got same issue
[code]
[code]

But I checked in folder then i got ```Filename : RecordFile_xxx_xxx```

[2018-08-03 01:30] darkengine commented on #17
Works with Google Pixel XL (Android 8.1), but the volume from other side is quite low. As @tabs said, you have to handle permissions by yourself.

[2018-08-10 08:13] suitao opened #30 "can not work on Android 8.0"
with MIUI 10
Android Version: 8.0.0

Running Logs:
2018-08-10 12:59:59.373 11571-11571/com.aykuttasil.callrecorder I/CallRecord: Save file enabled
2018-08-10 13:00:05.606 11571-11571/com.aykuttasil.callrecorder I/CallRecord: StartCallRecordClick
2018-08-10 13:00:10.235 1493-1493/? D/LocSvc_NiH: OutgoingCallReceiver :: onReceive
2018-08-10 13:00:13.003 12135-12135/? I/InCall: CallRecorderTools - bi

[2018-08-11 11:56] dadajigunjal opened #31 "Recorded call quality"
Provision of following features
1) Improve call recording sampling rate
2)  Reducing noise for current recording file
3) Provide more options for recording file type like mp3, mpeg, etc

[2018-08-15 05:57] TAGASK commented on #21
go in the settings of the app.
and enable the permissions.

[2018-08-15 10:34] aykuttasil commented on #29
Ok.
I am happy for this.
Is there anything you want from me? @mirzazulfan

[2018-08-15 10:47] mirzazulfan commented on #29
Thanks for your response. I'll do my best and shown it to you.

[2018-09-03 17:45] abdullahamin0111 commented on #13
As suggested by "Tabs" in thread (https://github.com/aykuttasil/CallRecorder/issues/17)

ActivityCompat.requestPermissions(this, new String[]{Manifest.permission.READ_EXTERNAL_STORAGE, Manifest.permission.PROCESS_OUTGOING_CALLS, Manifest.permission.READ_PHONE_STATE }, 321);

[2018-09-12 07:15] ASLhongxing opened #32 "Why doesn't it work now"
Two weeks ago, I downloaded the source code, and the redmi 5 plus phone can still save the recording, now it doesn't work.Who can help me? Thank you

[2018-09-28 05:38] rushdroid opened #33 "Call recording not working on Red Mi mobiles"
This apps sims work good but it's not recording on RED MI device.My simple question is
**Why the call is not recording on RED MI devices ?**

[2018-09-28 08:55] mirzazulfan commented on #29
Hi @aykuttasil .. I've designed a logo. What do you think? if you need to change, please let me know.
![call](https://user-images.githubusercontent.com/36124339/46198545-ed331b80-c336-11e8-81a5-96d6eb13bc66.png)

[2018-10-10 03:31] Danniel-yan commented on #21
go in the settings of the app. and enable the permissions. and still DOESN'T WORK: doesn't respond to buttons

[2018-10-26 03:01] oTongXuanAn commented on #2
i am same issue in sumsung J4

[2018-10-26 03:17] oTongXuanAn commented on #2
I am also having this problem in samsung J4

[2018-11-01 10:58] xpmkm89 commented on #22
still showing faild to resolve implementation 'com.github.aykuttasil:CallRecorder:1.2.9

[2018-11-01 11:03] aykuttasil commented on #29
Oh, super! Thank you.
I think it's very nice on the left. @mirzazulfan

[2018-11-01 11:06] aykuttasil commented on #22
Please make you sure added follow code blocks.

repositories {
        google()
        jcenter()
        maven { url 'https://jitpack.io' }
    }

and

implementation 'com.github.aykuttasil:CallRecorder:1.5.0'

@xpmkm89

[2018-11-01 11:21] mirzazulfan commented on #29
Thanks :) @aykuttasil i'll send you files and pr.

[2018-11-06 07:47] #29 closed

[2018-11-11 19:17] #22 closed

[2018-11-12 09:23] davidcantonnoteges commented on #13
I have same issue with S8, S8+, S9, S9+, Xioami MI A2 and others, why?

[2018-11-12 09:29] davidcantonnoteges commented on #2
Same issue here with S8,S8+,S9,S9+ Xioami MI A2.... i tried all possible combinations of code

[2018-11-21 06:11] mayurokade opened #35 "How to use library. I have used com.github.aykuttasil:CallRecorder:v1.5.0 like way"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-22 07:02] Zulqurnain commented on #33
not working on OPPO either

[2018-11-22 18:49] mustafiz012 opened #36 "Are you guys maintaining this project anymore?"
If you've noticed closely, you guys of course have seen that most probable issue is, incoming voice related. So do something about it please.

[2019-01-23 04:58] ShawnXiaFei opened #37 "Protected method can not be overrided by Subclass in Kotlin."
First, thanks for what you have done.
And then, there has a bug  in `CallRecordReceiver.kt`. See the code below:
[code]
But, in `Kotlin`, they can not be overrided by subclass, you need to add `open` after `protected`.
I have forked you project and fix it, you can check it [ShawnXiaFei/CallRecorder](https://github.com/ShawnXiaFei/CallRecorder)

Thanks again.

[2019-01-25 02:51] Xudanli2809 opened #38 "what the mean is it? the number in the end of recorder filename"
what the mean is it? the number in the end of recorder filename.
such as that: "1859617116" in "CallRecorderTestFile_outgoing_-1859617116".

[2019-02-16 06:01] AsadJafari2019 opened #39 "Extend The Recorder"
would you develop an app for recording Viber, Imo, WhatsApp calls?

[2019-02-18 08:12] aJIEw commented on #38
It's the random long value generated by File.createTempFile() method, it's located [here](https://github.com/aykuttasil/CallRecorder/blob/d6a3c127d766ceada10d1a9d461dc09cef962bb3/callrecord/src/main/java/com/aykuttasil/callrecord/receiver/CallRecordReceiver.kt#L179)

[2019-02-18 08:28] Xudanli2809 commented on #38
thanks.

[2019-02-19 04:12] DeevD opened #40 "Custom Receiver Info?"
How to detect start record and end record file . I need to implement to send recorded file when record file is finish . Receiver suppoert?

[2019-02-22 20:25] iamshouvikmitra opened #41 "How can I get the record stream?"
Actually, I intend to pass the audio stream to an external API in real-time. Is there a way I can possibly do that?
Thanks in advance.
Regards.

[2019-03-04 07:33] rayalakiran opened #42 "Runtime Exception"
java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{com.aykuttasil.callrecorder/com.aykuttasil.callrecorder.MainActivity}: java.lang.ClassNotFoundException: Didn't find class "com.aykuttasil.callrecorder.MainActivity" on path: DexPathList[[zip file "/data/app/com.aykuttasil.callrecorder-M9U6w5G5IjrGVnLni65F1w==/base.apk", zip file "/data/app/com.aykuttasil.callrecorder-M9U6w5G

[2019-03-07 07:06] abrarShariar commented on #42
Did you find any solution @rayalakiran. I am also facing similar issue.

[2019-03-13 08:49] Zulqurnain opened #43 "VOIP calls Whatsapp/Facebook not recording"
it's a feature request or suggestion for me, how can we use this library to record VOIP calls like facebook/WhatsApp?

You haven't provided it yet in this lib, but can you suggest me how can i achieve this using this lib or without?

[2019-04-01 02:54] houqingzhong opened #44 "happends this problom: update to 1.5.2"

[2019-04-01 02:55] houqingzhong commented on #44
AGPBI: {"kind":"error","text":"Program type already present: android.support.v4.app.INotificationSideChannel$Stub$Proxy","sources":[{}],"tool":"D8"}
:app:transformDexArchiveWithExternalLibsDexMergerForDebug FAILED
:app:buildInfoGeneratorDebug

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

* Try:

[2019-05-02 03:24] vickyleu commented on #43
try [Tor-ScreenRec](https://github.com/Tornaco/Tor-ScreenRec)

[2019-05-10 15:57] drambulzog commented on #24
I have a same problem. Did you find a solution?

[2019-05-14 11:40] bosir commented on #42
I also have this problem

[2019-05-16 22:10] #15 closed

[2019-05-16 22:45] aykuttasil commented on #37
Thank you. Actually, you can make PR for this subject?

[2019-05-17 11:35] shyamal890 commented on #15
@aykuttasil I am assuming this cannot work with Cordova.

[2019-05-28 07:03] CListery commented on #42
@abrarShariar @bosir
You need to add in build.gradle

[2019-05-31 07:40] devendroid commented on #13
Same issue in Xioami MI A1 too .

[2019-07-18 08:43] #30 closed

[2019-07-29 06:25] #40 closed

[2019-07-29 06:26] #42 closed

[2019-07-29 06:26] #43 closed

[2019-07-29 06:26] #39 closed

[2019-07-29 06:28] #27 closed

[2019-07-29 06:28] #32 closed

[2019-07-29 06:28] #25 closed

[2019-07-29 06:29] #23 closed

[2019-08-20 17:24] Ateeqtkr opened #46 "How to save audio file in encryption form"
I want to save audio file in encrypted form that how it could be done that every body could not open audio file .only those person can listen file who has password to open file.

[2019-08-21 09:53] Feroz-Istar commented on #24
no tit seems they dont have any solutions for service

[2019-08-27 15:14] mrubinodevelop commented on #42
very good

[2019-08-27 15:17] mrubinodevelop commented on #26
i have the same problem

[2019-10-22 07:25] tianzhiguo123 opened #47 "It doesn't work. Tell me how to deal with it."

[2019-10-31 08:47] tianzhiguo123 opened #48 "有 java版本的代码没"

[2019-11-06 11:24] #48 closed

[2019-11-06 11:25] #47 closed

[2019-11-07 02:13] tianzhiguo123 opened #49 "how to get the path of record?"
I need to upload it

[2019-11-07 06:24] tianzhiguo123 commented on #10
@razilsh I need to  upload the record file .Do you know  how to get the path of record?? Thank U ....

[2020-01-22 19:40] Junejune95 opened #50 "How to get Call Record Stop State?"

[2020-04-22 20:56] vikash159 opened #51 "Not working for Android 10"
audio recorded but no sound

[2020-05-10 06:47] AbdulRehmanNazar commented on #51
@aykuttasil any update on this issue?

[2020-05-13 07:44] Ranjeet4android commented on #16
Yes saved file name and get recordFileName both are different  So Tell me How to get file is exactly.

[2020-05-13 09:01] vikash159 commented on #51
i solved this issue by enabling accessibility service and used VOICE_RECOGNITION. quality is good only on one side. other side its bit low sound. because it using mic

[2020-05-14 10:49] AbdulRehmanNazar commented on #51
@vikash159 can you please share the working code with us?

[2020-05-14 16:34] vikash159 commented on #51
` int source = MediaRecorder.AudioSource.VOICE_COMMUNICATION;
        if (Build.VERSION.SDK_INT >= 29) source = MediaRecorder.AudioSource.VOICE_RECOGNITION;
        mCallRecord = new CallRecord.Builder(this)
                .setRecordFileName("Record")
                .setRecordDirName("mobile")
                .setRecordDirPath(Environment.getExternalStorageDirectory().getAbsolutePath())

[2020-05-15 05:37] AbdulRehmanNazar commented on #51
Thanks you @vikash159 for your code and comments, do you have to make any changes on the lib side code as well or its working with the above changes only?

[2020-05-15 07:49] vikash159 commented on #51
nothing just audio source i have changed. this is not a permanent fix i guess. im still looking for permanent fix because audio captured using mic

[2020-05-15 08:37] AbdulRehmanNazar commented on #51
Thanks @vikash159 for your comments, I am going to implement and once I will find solution will let you know for sure

[2020-05-21 08:34] Miladt opened #52 "Incoming vioce is not captured on samsung S8"

[2020-05-21 13:10] A0shashen00 commented on #51
@vikash159 Hello，budy. I have a question for the recorder file. I can not find it in the path .
have you got those question?!

[2020-05-23 07:26] vikash159 commented on #51
@A0shashen00
add this line in manifest application tag if you want to save in storage directory instead of cache directory
android:requestLegacyExternalStorage="true"

[2020-06-02 12:22] umairdexty commented on #51
@AbdulRehmanNazar Bhai did it work?  if yes can you share the code?

[2020-06-02 12:40] umairdexty commented on #10
@aykuttasil can you please comment. I cannot find the audio file too!

[2020-06-18 12:41] aykuttasil commented on #10
You can use `changeRecordDirPath(dirPath)` func on CallRecord class. @umairdexty

[2020-06-19 00:30] aalmangour commented on #43
So this is not happening anytime soon?

[2020-06-27 14:12] govind-mukundan commented on #24
https://github.com/aykuttasil/CallRecorder/blob/master/callrecord/src/main/java/com/aykuttasil/callrecord/CallRecord.kt#L231-L232

Isn't this a solution for service?

[2020-07-10 10:54] Andysea123 opened #53 "Not Working In Android 10 OnePlus Any Devices"
I tested on One Plus 5,5t 6,6t model but not working no recorded file generate and store.

[2020-08-17 16:07] shaikhsiddik opened #54 "Phone Number not getting on android 10 version please responsed ASAP"

[2020-08-18 18:01] shaikhsiddik commented on #54
Finally solve this problem
check out this code work for me

 if(intent?.hasExtra(TelephonyManager.EXTRA_INCOMING_NUMBER) == true) {
            val number = intent.extras?.getString(TelephonyManager.EXTRA_INCOMING_NUMBER)
            if (intent.action == CallRecordReceiver.ACTION_OUT) {
                Log.d(TAG, "intent.action = outgoing")
                savedNumber = intent.extras?.getString(Ca

[2020-08-18 18:01] #54 closed

[2020-09-12 05:07] erpriyesh commented on #51
@vikash159 @AbdulRehmanNazar  Bro have you got any update on this issue? actually i have added this accessibilityService code using this i am able to record calls but in some scenarios only one side voice is audible and in some scenarios both side voice is clearly audible and in some scenarios one side's voice is clear and one side's voice is bit low. so if you have got any fix please let me know.

[2020-09-12 13:21] vikash159 commented on #51
@erpriyesh it happens with some device or even you use earphone. so no full proof solution i got on this. only samsung device i saw this working properly,

[2020-10-21 10:21] Proxcentaur commented on #53
same here

[2020-10-23 18:47] kishorekmr61 commented on #51
@erpriyesh can you please share the piece of code with the class which you had implemented...

[2020-10-23 18:48] kishorekmr61 commented on #51
@vikash159 Can you please share the working code.

[2020-10-23 18:51] kishorekmr61 commented on #51
@AbdulRehmanNazar did you got the recorder output file in android 10 I had tried using but I didn't succeed...

[2020-10-29 11:16] numitec opened #55 "Fatal exception: unable to instantiate activity ComponentInfo"
Hello there,

  newer user: I download it and try to run it on Android Studio 3.5.3 on device Nexus 5X API 27; debugging session throws:

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.aykuttasil.callrecorder, PID: 4061
    java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{com.aykuttasil.callrecorder/com.aykuttasil.callrecorder.MainActivity}: java.lang.ClassNotFoun

[2020-11-19 13:07] erpriyesh commented on #51
@vikash159 hey bro i have tested this in another phone. even after enabling the accessibility service call's voice is silence in recording. and now facing this issue in android 9 also can anyone help me ? @AbdulRehmanNazar

[2020-11-19 14:02] AbdulRehmanNazar commented on #51
@erpriyesh it works on some device not on all.

[2020-11-19 14:20] erpriyesh commented on #51
@AbdulRehmanNazar have you got any workaround to overcome from this issue ?

[2020-12-04 13:29] IvanSheigets opened #56 "Fatal Exception on Android 10"
I tried to use VOICE_RECOGNITION and have next error:
[code]

If change the audio source to something else there is no error but no voice record

[2021-01-06 11:16] dharmendra79 commented on #53
i am facing same issue, did you find any solution???

[2021-01-06 11:19] Proxcentaur commented on #53
none yet

[2021-01-13 10:41] satti8893 commented on #55
apply plugin: 'kotlin-android'

Add above line in build.gradle

[2021-02-13 04:31] Deepa-Palani commented on #56
call recording is working below android version 10 but it is not working for above android version 10 .please help me

[2021-02-25 02:28] hareesh145 commented on #51
@AbdulRehmanNazar @vikash159 hello friends did you find solution for 10 & 11 versions .If you find please let me know thanks

[2021-03-25 11:21] TravelChannel commented on #51
i have tried this code so far to achieve the call recording but voice is too low of the person we are talking too. further you have to put this code in accessibility service

`final int BITS_PER_SAMPLE = 8;       // 16-bit data
        final int NUMBER_CHANNELS = 1;        // Mono
        final int COMPRESSION_AMOUNT = 8;     // Compress the audio at 8:1

        int sampleRate = 8000;
        fin

[2021-04-22 06:15] pgandroid1289 opened #58 "Not able to create directory with .mp3 file in Android 10"
I m using this call recorder for Android 10. As i saw the issue that it is not working in Android 10. So i have modify the code as per coments.

`class MyAccessibilityService : AccessibilityService() {
    var mService: Service? = null
    override fun onAccessibilityEvent(event: AccessibilityEvent) {}
    override fun onInterrupt() {}
    override fun onServiceConnected() {}
    override fun onCr

[2021-06-19 08:22] MasterKali06 commented on #51
@vikash159 about the accessibilty service
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
this permission is only allowed for system apps how did you handle that?
and i will appreciate it if you share the complete code
i have difficulties implementing accessibility service for android 10.

[2021-06-19 14:45] vikash159 commented on #51
@MasterKali06
You can't "start" the AccessibilityService as they are not like other services where you can control their start/stop. Rather here the Android system controls starting and stopping them based on the settings the user has selected.

The best you can do is launch the Accessibility settings page and get the user to enable it for you:

Intent openSettings = new Intent(Settings.ACTION_ACC

[2021-06-21 07:42] mujahid-iitr opened #59 "I can not see where the file is saved."
I can not find any folder with file name CallRecorderTestFile or Dir name like CallRecorderTest.
Please help to know where the recorded file is saved.

[2021-09-10 10:43] Gagandeep1408 opened #60 "app crashed while installation"
java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{com.aykuttasil.callrecorder/com.aykuttasil.callrecorder.MainActivity}: java.lang.ClassNotFoundException: Didn't find class "com.aykuttasil.callrecorder.MainActivity" on path: DexPathList[[zip file "/data/app/com.aykuttasil.callrecorder-Js8mkFcLVzMAtTuoO8XJuw==/base.apk"],nativeLibraryDirectories=[/data/app/com.aykuttasil.call

[2021-09-24 05:02] rajkotiyakishan commented on #53
For Android 9 and above 9 we must have to use Accessibility service to record Audio. Add Accessibility service to your app, take permission and try. Hope this will work.

[2021-12-20 14:32] Vinayak-Bhardwaj commented on #51
@vikash159 @MasterKali06 @hareesh145 @AbdulRehmanNazar @kishorekmr61 @umairdexty can any of you please share your working call recorder app repository here please, because I am searching the internet for 1 week and this is the best lead I got so far. I am badly stuck in the installation process of this package. and I cannot move further in this. I urgently need to build a call recorder app in andr

[2021-12-20 14:44] developer-- commented on #51
@Vinayak-Bhardwaj
As I know you can't record calls from both side anymore, that is the restriction added for new Android OS

https://nllapps.com/apps/acr/android9.htm

[2021-12-20 15:12] Vinayak-Bhardwaj commented on #51
Thanks for the response @developer-- , but the above discussion shows that maybe it is possible on android 10. And on the play store as well there exist applications that record calls from both sides. So can you help me with that, please?

[2021-12-20 15:18] developer-- commented on #51
can you confirm that they are recording voice from both side with good quality? I think all apps were affected

[2021-12-20 15:29] Vinayak-Bhardwaj commented on #51
yes @developer-- , I have myself tested it. On using earphones while talking we can hear clear voices from both ends. If you want then I can share you the link for the application

[2022-01-25 12:06] PrakashGajera commented on #56
Please add plugin in build.gradle file

apply plugin: 'kotlin-android'

[2022-01-27 12:14] Shubham-Narkhede commented on #51
@Vinayak-Bhardwaj  can you please share your code of call recording if possible please?

[2022-02-27 20:34] amoozesh3 commented on #51
Hi @[vikash159](https://github.com/vikash159)
How to connect recorder codes to AccessibilityService codes?
Please send the source code

[2022-03-14 10:06] ashishpatel16 commented on #51
Any updates on android 10 so far?

[2022-03-16 14:22] cmedamine commented on #51
is there any hack for this issue yet?

[2022-05-08 17:11] gracken0 opened #61 "Crashed on my Samsung S5"
App crashed on startup on my Samsung S5

[2022-07-27 08:52] josephantonyk94 commented on #55
it may happen if the import of package name in main activity is misplaced

[2022-09-07 07:55] shaifu opened #62 "Recorded File Not Found"
I am using this call recorder but recorded call file is not found in phone. Kindly Help. I am using this on android oreo

[2022-11-17 04:54] maheshutm commented on #22
still showing faild to resolve implementation 'com.github.aykuttasil:CallRecorder:1.5.0